@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Sora:wght@100;600;700&display=swap');

* {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
}

body{
    background-color: #F2F7FF;
}

/* .text1 {

} */
.text2 {
    color: #6C87AE;
}
/* .bg-1 {

} */
.bg-2{
    background-color: #6C87AE;
    color: white;
}

.bg-list {
    background-color: #6c87ae83;
}

.text-blue {
    color: #1678F2 !important;
}
::placeholder {
    color: white !important;
}

.modalInput {
    background: rgba(123,151,206,0.06);
    border: 1px solid #1678F2
    ;


}
.btn-modal {
    padding: 6px 16px;
    background: #1678F2 !important;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
}

.btn-light {
    padding: 6px 16px !important; 
}

.btn-primary {
    color: white;
    padding: 16px 28px;
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
    border-radius: 100px;
}

.btn-secondary {
    background-color: #6C87AE !important;
    border-radius: 30px !important;
}

.title {
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.description {
    color: #6C87AE;
}

.border-radius {
    margin: 2rem;
}

.border-radius > th{
    border-radius:30px 0px 0px 30px;
}
.border-radius > td{
    border-radius:0px 30px 30px 0px;
}
